{{- define "main" -}}

{{/* List of all authors. */}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}
  
  <ul>
    {{range $k, $v := sort .Data.Pages "Title" }}
      <li><a href="{{$v.Permalink}}">{{$v.Title}}</a></li>
    {{end}}
  </ul>

<!--
  Paginated list of authors
  <ul>
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $k, $v := $paginator.Pages }}
      {{ $name := $v.Title }}
      <li><a href="{{$v.Permalink}}">{{$name}}</a></li>
    {{ end }}
  </ul>

  {{ partial "pagination" . }}
-->
</div>

{{- end -}}
